version: 2
jobs:
  build:
    docker:
      - image: circleci/node:lts-browsers

    working_directory: ~/vue-popover

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ .Branch }}-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-{{ .Branch }}-

      - run:
          name: 'Install yarn dependencies'
          command: yarn install

      - run:
          name: 'Run unit tests'
          command: yarn test:unit

      - save_cache:
          paths:
          - ./node_modules
          key: v1-dependencies-{{ .Branch }}-{{ checksum "package.json" }}

